<!DOCTYPE html>
<html lang="em" dir="ltr"></html>
<head>
    <meta charset="utf-8">
    <title> To Do List</title>
    </head>
    <body> 
        <!--  Can use javascript in html using ejs scriplet tags -->
        <!-- Every single js line has to be enclosed in scriplet tag, even paranthesis -->
 <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %> 
<h1 style="color: blue">It's a <%= kindOfDay %>!</h1> 
 <%   }else{ %> <!--NOTE: Do not put scriplet tage before and after html , along with js, it wont work -->
           
        <h1 style="color: purple">It's a <%= kindOfDay %>!</h1>
<% } %> 

    </body>
</html>


